<h2>Detalles del articulo</h2>

<p><%= @article.name %></p>
<p><%= @article.DescripcionAbreviada %></p>
<p><%= @article.DescripcionCompleta %></p>
<p><%= @article.Status %></p>
<p><%= @article.Ubicacion %></p>


<%= link_to 'Regresar', articles_path %>
