<h2>Detalles del articulo</h2>

<p><%= @article.name %></p>
<p><%= @article.descripcionAbreviada %></p>
<p><%= @article.descripcionCompleta %></p>
<p><%= @article.status %></p>
<p><%= @article.ubicacion %></p>


<%= link_to 'Regresar', articles_path %>
